//Header
@import "palette";

.header-row {
  font-family: 'Signika', sans-serif;
  justify-items: center;
  align-items: center;

}

.header {
  display: block;
  margin-left: 200px;
  justify-content: center;
}



.site-title {

  justify-self: flex-start;
  align-self: flex-start;
  height: 15vw;
  justify-content: flex-start;
  align-content: flex-start;
  display: flex;
  margin: 0;


  a {
    font-size: 40pt;
    vertical-align: center;
    align-self: start;
    justify-self: start;
    padding-left: 2vw;
    line-height: 1.3em;
    flex: 1;
    color: $header_text;
  }
}

.site-header {
  padding-top: 2vw;
  padding-left: 4vw;
  background: linear-gradient(to right, $color_primary, $color_primary,$color_primary_darkened);

  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  height: 15vw;
}

.header-container {
  display: flex;
  margin-top: 1vw;
  height: 10vw;
  align-content: center;
  justify-content: center;
}

.header-logo {
  width: 10vw;
  height: 10vw;
}

.nav-container {
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
  height: 10vw;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2vw;
}

.menu-item {

  list-style-type: none;
  font-size: x-large;
  align-self: end;
  text-align: end;

  a {
    color: $header_text;
    &:hover {
      color: lighten($header_text, 20%);
      background-color: transparent;
      text-decoration: none;
    }
  }
}

.nav {
  li {
    a:hover {
      background-color: transparent;
    }
  }
}

.header-row {
  justify-content: center;
  align-content: center;
}